body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(244, 244, 244);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.nav-part {
    list-style: none;
    background-color: rgb(51, 51, 51);
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 55px;
}

.nav-part a {
    color: white;
    text-decoration: none;
}

.nav-part a:hover {
    text-decoration: underline;
}

h1, h2 {
    color: rgb(6, 84, 179);
}

.main-heading {
    margin-left: 20px;
    margin-top: 50px;
}

.trivia-facts {
    
    margin-left: 20px;
}

.trivia-facts div {
    display: grid;
    grid-template-columns: 170px auto;
    justify-items: left;
    align-items: center;
    margin-bottom: 30px;
}

.categories-part {
    margin-left: 20px;
}

.categories-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 0;
}

.categories-list a {
    color: rgb(6, 84, 179);
    font-size: 18px;
    text-decoration: none;
}

.categories-list a:hover {
    text-decoration: underline;
}

.top-scores-part {
    margin-left: 20px;
}

table, th, td {
    border: 1px solid #dcd7d7;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 98%;
}

th {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: left;
}

td {
    background-color: rgb(235, 234, 234);
}

input, textarea, button {
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: rgb(6, 84, 179);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 39, 102);
}

input, button {
    height: 35px;
}

.contact-us-part {
    margin-left: 20px;
    padding: 0;
}

.contact-us-part .main-field {
    justify-items: center;
    margin-top: 40px;
}

.contact-us-part .main-field div {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.contact-info div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: -20px;
}

.subscribe-btn {
    margin-left: 20px;
    margin-top: 30px;
}

.subscribe-btn button {
    width: 200px;
    height: 55px;
    font-size: 20px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    background-color: rgb(40, 167, 69);
    color: white;
    animation: zoom-in-out 2s infinite ease;
}

.subscribe-btn button:hover {
    background-color: rgb(33, 136, 56);
}

@keyframes zoom-in-out {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}