.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1150px auto;
    grid-template-rows: auto 400px auto;
    grid-auto-rows: 50px;
    gap: 10px;
}

.header, .footer, .extraline, .extraline {
    background-color: rgb(44, 62, 80);
    grid-column-start: 1;
    grid-column-end: span 3;
}

.sidebar {
    background: rgb(52, 73, 94);
}

.maincontent {
    background-color: rgb(245, 222, 179);
    color: black;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 200px 60px;
    padding: 20px;
}

.ads {
    background-color: rgb(236, 240, 241);
    color: black;
}

.extraline {
    background-color: rgb(189, 195, 199);
    text-align: center;
    align-content: center;
}

.footer {
    text-align: center;
}

.specialcard {
    width: 80%;
    grid-column-start: 1;
    grid-column-end: span 2 ;
    background-color: rgb(231, 76, 60);
    color: white;
    align-content: center;
    padding-left: 20px;
    border-radius: 10px;
    justify-self: center;
}

/* way 2 */
.container2 {
    display: grid;
    margin-top: 100px;
    grid-template-rows: auto 400px auto;
    grid-auto-rows: 50px;
    gap: 10px;
}

.header2, .footer2 {
    background-color: rgb(44, 62, 80);
}

.body {
    display: grid;
    grid-template-columns: 200px 1150px auto;
    gap: 10px;
}

.sidebar2 {
    background-color: rgb(52, 73, 94);
}

.maincontent2 {
    background-color: rgb(245, 222, 179);
    color: black;
}

.ads2 {
    background-color: rgb(236, 240, 241);
    color: black;
}

.extraline2 {
    background-color: rgb(189, 195, 199);
    text-align: center;
    align-content: center;
}

.footer2 {
    text-align: center;
}

.body .maincontent2 {
    display: grid;
    padding: 20px;
    grid-template-rows: auto auto;
}

.body .maincontent2 .specialcard2 {
    background-color: rgb(231, 76, 60);
    color: white;
    height: 65px;
    border-radius: 10px;
    width: 80%;
    align-content: center;
    padding-left: 20px;
    justify-self: center;
    align-self: center;
    margin-bottom: 50px; 
}

/* way 3*/
.container3 {
    display: grid;
    margin-top: 100px;
    grid-template-columns: 200px 1150px auto;
    grid-template-rows: auto 400px auto;
    grid-template-areas:
    "header header header"
    "sidebar maincontent ads"
    "footer footer footer";
    grid-auto-rows: 50px;
    gap: 10px;
}

.header3 {
    grid-area: header;
    background-color: rgb(44, 62, 80);
}

.sidebar3 {
    grid-area: sidebar;
    background-color: rgb(52, 73, 94);
}

.maincontent3 {
    grid-area: maincontent;
    background-color: rgb(245, 222, 179);
    color: black;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 185px;
}

.specialcard3 {
    grid-column: 1 / span 3;
    background-color: rgb(231, 76, 60);
    color: white;
    height: 65px;
    border-radius: 10px;
    width: 80%;
    align-content: center;
    padding-left: 20px;
    justify-self: center;
    margin-bottom: 50px;
}

.ads3 {
    grid-area: ads;
    background-color: rgb(236, 240, 241);
    color: black;
}

.footer3 {
    grid-area: footer;
    background-color: rgb(44, 62, 80);
    text-align: center;
}

.extraline3 {
    grid-column: 1 / span 3;
    background-color: rgb(189, 195, 199);
    text-align: center;
    align-content: center;   
}